<mat-toolbar color="primary">
  <span>Ejercicio 01: Calcular Utilidades</span>
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-card-title>Datos:</mat-card-title>
    <mat-card-content>
      <p>Salario Mensual: <strong>{{ salario | currency: "S/. " }}</strong></p>
      <p>Años de Trabajado: <strong>{{ anios }}</strong></p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="calcularUtilidades()">
        Calcular
      </button>
    </mat-card-actions>
  </mat-card>

  @if (resultado) {
    <mat-card class="resultado">
      <mat-card-title>Resultado</mat-card-title>
      <mat-card-content>
        <p>La utilidad es de: <strong>{{ utilidades | currency: "S/. " }}</strong></p>
      </mat-card-content>
    </mat-card>
  }
</div>
